mat-toolbar {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-title {
  cursor: pointer;
  user-select: none;
}

.toolbar-title:hover {
  opacity: 0.9;
}

a[mat-button] {
  color: white;
  font-weight: bold;
}

.active-link {
  border-bottom: 2px solid white;
  border-radius: 0;
}
