.spinner-container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

mat-card {
  border-radius: 0;
}

mat-form-field,
textarea {
  width: 100%;
  border-radius: 0;
}

button[mat-raised-button] {
  border-radius: 0;
}
