:host {
  display: block;
  margin-top: 1rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.info-text {
  text-align: center;
}
mat-expansion-panel,
mat-accordion .mat-expansion-panel {
  border-radius: 0 !important;
}
b
mat-expansion-panel-header {
  border-radius: 0 !important;
}

mat-action-row button + button {
  margin-left: 0.5rem;
}
